
  <div class="container">
      <div class="tab-slider--nav">
          <ul class="tab-slider--tabs">
            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Tab 1</li>
            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Tab 2</li>
          </ul>
        </div>
    <form >
      <div class="tab-slider--container">
        <div id="tab1" class="tab-slider--body" *ngIf="viewMode =='tab1';else tab2">
  
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="name"
              required />
          </div>
  
          <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="model.surname" placeholder="surname" />
          </div>
  
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" placeholder="email"
              required />
          </div>
  
          <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="radio" name="gender" value="male" [(ngModel)]="model.gender"/> Male
            <input type="radio" name="gender" value="female" [(ngModel)]="model.gender"/> Female
          </div>
  
          <div class="form-group">
            <label for="city">City</label>
            <select class="form-control" id="city" name='city' [(ngModel)]="model.city" required>
              <option *ngFor="let city of cities" [value]="city.city">{{city.city}}</option>
            </select>
          </div>
  
          <div class="checkbox">
            <label>Skills:</label>
            <ul *ngFor="let skill of skills">
            <input type="checkbox" id="skill" [value]="skill" (click)="userSkills(skill)"/><label for="skill">{{skill}}</label>
            </ul>
          </div>
        </div>
      </div>
        <div class="tab-slider--container">
      <!-- <ng-template #tab2> -->
      <div id="tab2" class="tab-slider--body" *ngIf="viewMode =='tab2'">
      <input type="file" name="profile" (change)="fileChangeEvent($event)"/>
      </div>
      <!-- </ng-template> -->
      </div>
  
      <button type="submit" class="btn btn-primary" (click)="createuser()">Submit</button>&nbsp;
      <a routerLink="/" routerLinkActive="active"><span class="btn btn-primary">cancel</span></a>
    </form>
  </div>