<h2>
  <span>Add User </span>
  <a routerLink="/add-user" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a><br/>
</h2>
<div *ngIf="userslist?.length">
<div class="list-container">
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>City</th>
      <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userslist">    
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.city}}</td>
      <td>{{user.gender}}</td>
      <td>
        <button class="btn btn-primary" style="margin-left: 20px;" (click)="getUser(user.userId)" > Edit</button>
        <button class="btn btn-default"  style="margin-left: 20px;" (click)="getUser(user.userId)" >View</button>
        <button class="btn btn-danger" style="margin-left: 20px;" (click)="deleteUser(user.userId)" > Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>